    <%# we're not showing these on some pages (ex: login). these pages define a no-controls variable %>

    <div class="nav-collapse nav-collapse-top collapse">

      <% if current_user.present? %>
          <ul class="nav full pull-right">
            <li class="dropdown user-avatar" ng-class="{ open: profileDropdownOpen }">
              <a href="#" class="dropdown-toggle" ng-click="profileDropdownOpen = !profileDropdownOpen">
                  <span>
                    <%= image_tag gravatar_url(current_user.email, 32), class: "menu-avatar" %> <span><%= current_user.title %> <i class="icon-dashboard"></i></span>
                    <% if current_user.notifications_count > 0 %>
                        <span class="badge badge-dark-red"><%= current_user.notifications_count %></span>
                    <% end %>
                  </span>
              </a>

              <ul class="dropdown-menu">
                <li><a ng-href="/profile"><i class="icon-user"></i> <span>Профиль</span></a></li>
                <li><a href="<%= destroy_user_session_path %>"><i class="icon-off"></i> <span>Выход</span></a></li>
              </ul>
            </li>
          </ul>

          <% if current_user.balance.present? %>
              <ul class="nav pull-right">
                <li class="active"><a ng-href="/balance"><i class="icon-circle-blank"></i> Баланс: <%= current_user.balance.amount %>р.</a></li>
              </ul>
          <% end %>
      <% end %>
    </div>
