<!doctype html>
<html>
<head>

  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
  <link rel="icon" type="image/ico" href="/assets/favicon.ico"/>


  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= "BillPal" %></title>

  <%= stylesheet_link_tag "application" %>

  <!--[if lt IE 9]>
  <%= javascript_include_tag "vendor/html5shiv" %>
  <%= javascript_include_tag "vendor/excanvas" %>
  <![endif]-->

  <%= javascript_include_tag  "application" %>
  <%= javascript_include_tag  "angular/application" %>
</head>



<body ng-app="billpal" ng-controller="RootController">
<%= render partial: 'layouts/top_navigation', locals: { hide_controls: @hide_controls } %>
<%= render partial: 'layouts/side_navigation' %>

<div class="main-content">
    <%= yield %>
</div>

</body>
</html>
